<ul class="container">
    @for (movie of movies; track movie.id){
    <li>
        <div class="card" style="width: 18rem;">
            <img src="{{movie.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text"><strong>Movie:</strong> {{movie.title}}</p>
                <p class="card-text"><strong>Premiere:</strong> {{movie.year}}</p>
                <p class="card-text"><strong>Stars:</strong> {{movie.stars}}</p>
            </div>
        </div>
    </li>
    }
</ul>