.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}
.card-body{
    height: 150px;
}
.card{
    margin-bottom: 20px;
}
.card-body p{
    margin-bottom: 3px
}
img{
    max-height: 25vw;
}